@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>
    We have many laptops from diffrent companies and suits all your needs <br/>
                We always strive to satisfy our customer
    
    </h3>

