@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    King Fahad Road
    <br />
    <br />
    <abbr title="Phone">P:</abbr>
    966.555.2311
</address>
<br />
<br />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gmail.com</a><br />
</address>